.informacoes{
    display: grid;
    grid-template-columns: 30% 70%;
    width: 100%;
    gap: 20px;
    justify-content: start;
}
.KPIS {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-evenly;
}

.kpi {
    text-align: center;
    align-items: start;
    border-radius: 10px;
    border: #5DD7ED 2px solid;
    height: 150px;
}
.SalasKPI{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 20px;
    border-radius: 10px;
    border: #5DD7ED solid 2px;
    height: 500px;
    overflow: hidden;
    overflow-y: scroll;
    gap: 10px;
}
.cardSala{
    border: black 2px solid;
    padding: 10px;
    border-radius: 10px;
    width: 95%;
    height: 150px;
}
.alinhar{
    display: flex;
}

.bolinha{
    border-radius: 100%;
    width: 30px;
    height: 30px;
    background-color: #5DD7ED;
}