@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Numans&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jura', sans-serif;
  }
  
  /* Fundo da página */
  body {
    font-size: 30px;
    min-height: 100vh; /* 100% da altura da janela */
    background-image: url('../images/background_apelo.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
  }
  
  /* Navbar */
.navbar {
    font-size: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    background-color: #FDFDFD;
}

.logo {
    display: flex;
    gap: 5px;
    align-items: center;
}

.logo img {
    width: 60px;
}

.menu {
    display: flex;
    flex-direction: row;
    gap:30px;
}

.menu a {
    text-decoration: none;
    color:black;
    font-weight: 500;
}

/* FECHA NAVBAR */

/* FORMULARIO LOGIN */

.cadastro {
    margin-top: 100px;
    border: 3px solid #d7d7d7;
    border-radius: 5px;
    display: flex;
    flex: row;
    width: 60rem;
    height: 40rem;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px gray;
}

.formulario {
    padding: 10px;
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:45px;
    background-color: #F4F4F4;
}

.imagemLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #D9D9D9;
    width: 50%;
    height: 100%;
}

.imagemLogin img {
    width: 100%;
}

.formulario input {
    font-size: 20px;
    font-weight: 500;
    background-color: #D9D9D9;
    border: none;
    width: 80%;
    padding: 15px;
    outline: none;
}

.formulario h1 {
    font-size: 40px;
}

.formulario button {
    background-color: #5DD7ED;
    border:none;
    width: 40%;
    font-size: 30px;
    padding: 5px;
    cursor:pointer;
}

.formulario button:hover{
    background-color:#7cddee;
}

.formulario button:active{
    background-color: #9ae0ec;
}

.formulario p {
    font-size: 15px;
}

.formulario a {
    text-decoration: none;
    font-weight: 600;
    color: #114777;
}

/* ajustando algumas coisas (tentei deixar alinhado do jeito que sei) */

.main {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* faltou mudar a opacidade do background image (pra ficar igual a da referencia no figma), mas nao sei como fazer isso sem alterar a opacidade de tudo em volta, a não ser que eu criasse mais uma div que envolvesse tudo, mas acho que ficaria redundante, logo não criei. */