.userimg {
    width: 80px;
}


.notify {
    width: 50px;
    height: 50px;
}

h1 {
    text-align: center;
    font-weight: bold;
}

.titulosGraficos {
    display: flex;
    flex-direction: row;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-left: 80px;
}

.Graficos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.title_GrafLinha {
    display: flex;
    justify-content: flex-start;
    margin-left: 100px;
}

.title_GrafPercentual {
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
}

.GrafLinha {
    display: flex;
    justify-content: flex-start;
}

.GrafPercentual {
    display: flex;
    justify-content: flex-start;
}


.GrafLinha {
    height: 400px !important;
    width: 800px !important;
    background-color: white;
    border: solid 2px rgb(58, 145, 204);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.GrafPercentual {
    height: 400px !important;
    width: 400px !important;
    background-color: white;
    border: solid 2px rgb(58, 145, 204);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


h2 {
    text-align: center;
}


.navbar {
    margin: -15px;
}

.rodape {
    margin-top: 50px;
    margin-bottom: -10px;
    margin-left: -10px;
    height: 270px;
    width: 1500px;
}



.divisoria {
    border: 3px solid rgb(58, 145, 204);
    width: 1500px;
    margin: -10px;
}